/* universal */
html {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	justify-content: center;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

/* header */

header {
	display: flex;
	position: fixed;
	height: 69px;
	border-bottom: 1px solid seashell;
	width: 100%;
	z-index: 1;
	align-items: center;
	background-color: black;
}

div {
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.logo img {
	padding-left: 10px;
	height: 50px;
}

span a {
	color: seashell;
	text-decoration: underline;
}

/* our mission */

.container {
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
	display: inline-flex;
	width: 1200px;
	height: 700px;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 70px;
	
}

.content {
	background-color: black;
	width: 100%;
}

/*teas of the month*/

#tea-of-the-month {
	width: 1000px;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.teas {
	margin: auto;
}

.teas img {
	height: 200px;
	width: 300px;
}

/*Locations*/

#locations {
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
	height: 500px;
	width: 1200px;
	text-align: center;
	margin: 0 auto;

}

.locations h2 {
	margin: 15px;
}

.location-box {
	background-color: black;
	width: 300px;
	margin-right: 40px; 
	opacity: 1;
}

#row {
	display: inline-flex;
	flex-direction: row;
}

/*contact*/

.contact {
	height: 200px;
}

/*footer*/

footer {
	text-align: left;
	margin-left: 20px;
}