/* universal */
html {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

/* header */

header {
	display: flex;
	position: fixed;
	height: 69px;
	border-bottom: 1px solid seashell;
	width: 100%;
	z-index: 1;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.logo img {
	padding-left: 10px;
	height: 50px;
}

span a {
	color: seashell;
	text-decoration: underline;
}