/* universal */
html {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}

/* header */

header {
	display: flex;
	position: fixed;
	height: 69px;
	border-bottom: 1px solid seashell;
}